{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <h3 style="padding-bottom: 10px;">Groups</h3>
    </tr>
    {% for group in groups %}
    <tr>
        <td><a href="{{ url_for('group_view', group_id=group.id) }}">{{ group.name }}</a></td>
        {% if group.id != 1 %}
            {% if not current_user in group.accounts%}
            <td><a href="{{ url_for('group_join', group_id=group.id) }}">Join group</a></td>
            {% else %}
            <td><a style="color:red;" href="{{ url_for('group_leave', group_id=group.id) }}">Leave group</a></td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}