{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h3>Posts in {{ active_group.name }}</h3>
  </tr>
  {% for fish in fish %}
  <tr style="border: solid thin; display:grid;">
    <td>Species: <a href="{{ url_for('fish_view', fish_id=fish.id) }}"> {{ fish.species }}</a></td>
    <td>Weight: {{ fish.weight }} kg</td>
    {% if not fish.image_file == None %}
    <td>
      <img src="{{ url_for('static', filename='pictures/'+ fish.image_file) }}" height="540" width="600"
        alt="Current Fish image">
    </td>
    {% endif %}
    {% if current_user.id == fish.account_id %}
      <td>Added by: You</td>
    {% endif %}
    {% for user in users %}
      {% if user.id == fish.account_id and current_user.id != fish.account_id %}
        <td>Added by: {{ user.username }}</td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if no_posts is defined %}
<p>
  The following users have no posts in {{ active_group.name }}:
</p>

<ul>
  {% for user in no_posts %}
  <li style="padding-bottom: 10px; padding-right:50px;">
    {{user.id}} {{user.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}