{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <th>Posts</th>
  </tr>
  {% for fish in fish %}
  <tr>
    <td><a href="{{ url_for('fish_view', fish_id=fish.id) }}"> {{ fish.species }}</a></td>
    <td>{{ fish.weight }} kg</td>
    <!-- <td>
      <img src= "{{url_for('static',filename=fish.image_file)}}" alt="{{ fish.image_file }}" height="300" width="400">
    </td> -->
  {% if current_user.id == fish.account_id %}
    <td>Added by: You.</td>
  {% endif %}
  {% for user in users %}
      {% if user.id == fish.account_id and current_user.id != fish.account_id %}
        <td>Added by: {{ user.username }}.</td>
      {% endif %}
  {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}