{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h3>Post</h3>
  </tr>
  <tr style="border: solid thin; display:grid;">
    <td>Species: {{ fish.species }}</td>
    <td>Weight: {{ fish.weight }} kg</td>
    <td>
      <img src="{{ picture }}" height="540" width="600" alt="Fish image">
    </td>
    {% if user == current_user %}
      <td>Added by: You </td>
      <td><a href="{{ url_for('fish_update', fish_id=fish.id) }}">Update</a></td>
    <form method="POST" action="{{ url_for('fish_delete',fish_id=fish.id,group_id=active_group.id)}}">
      <td><input type="submit" value="Delete"></td>
    </form>
    {% else %}
    <td>Added by: {{ user.username }} </td>
    {% endif %}
  </tr>
</table>
{% endblock %}